body#main_body

    
    .preloader-wrapper
        .preloader
            img(src="images/25.svg", alt="Loading...")
    include navbar.jade
    .container-fluid
        .row
            include sidebar.jade
            include main.jade