script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/dashboard.js")
script(src="/javascripts/loadpage.js")
script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js")