.row
    .col-md-6
            section
                canvas(id="mychart", width="200px", height="100px")

    .col-md-6
            section
                canvas(id="mychart2", width="200", height="100")


.row
    .col-md-6
            section
                canvas(id="mychart3", width="200px", height="100px")

    .col-md-6
            section
                canvas(id="mychart4", width="200", height="100")