.card
    .card-body
      case page
         when "home"
            include home.jade
         when "network_settings"
            include network_bloc.jade
         when "tuning_settings"
            include tuning_bloc.jade
         when "dvblast_settings"
            include dvblast_bloc.jade
         when "options"
            include options_bloc.jade        
         when "update"
            include update_bloc.jade   
         when "about"
            include about_bloc.jade   